{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Restaurant Table Booking</h1>
        <p class="lead">Make a reservation at our restaurant and enjoy a delightful dining experience.</p>

        <div class="card">
            <div class="card-body">
                <h2 class="text-center">Booking Information</h2>
                <p>Please provide the following details to book a table:</p>

                <ul>
                    <li>Name: Your name</li>
                    <li>Date: Desired date of reservation</li>
                    <li>Time: Preferred time for the reservation</li>
                    <li>Party Size: Number of people in your party</li>
                </ul>

                <p>Our team will get in touch with you to confirm your reservation.</p>
            </div>
        </div>
    </div>

{% endblock %}